body {
  background-color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

header {
  background-image: url("/ci2023dfs-p1-site-main/assets/images/pexels-victor-freitas-949126.jpg");
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

nav {
  font-size: small;
}

.nav-head {

}

a {
  border: 1px solid rgb(117, 117, 117);
  color: #ffffff;
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
}

/* FLEX PROPS */ 

.flex-column  {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

/* Paralax */


.services-container {
  height: 300px;
}

.parallax-right,
.parallax-left {
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: 150vw;
}

/* BUTTONS */

#button-1,
#button-2,
#button-3,
#button-4 {
  margin: 10px;
  background: rgba(114, 114, 114, 0.3);
  overflow: hidden;
  position: relative;
}

#button-1 a,
#button-2 a,
#button-3 a,
#button-4 a {
  position: relative;
  transition: all 0.35s ease-Out;
}

.slide {
  background: rgba(114, 114, 114, 0.3);
  bottom: 0;
  height: 100%;
  left: -200px;
  position: absolute;
  transition: all 0.35s ease-Out;
  width: 100%;
}


#button-1:hover .slide,
#button-2:hover .slide,
#button-3:hover .slide,
#button-4:hover .slide {
  left: 0;
}

#button-2:hover a {
}