body {
  background-color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

header {
  background-image: url("/ci2023dfs-p1-site-main/assets/images/pexels-victor-freitas-949126.jpg");
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 45px;
  font-weight: 900;
  height: 400px;
  justify-content: flex-end;
  padding: 50px;
  text-align: right;
  text-transform: uppercase;
}

nav {
  font-size: medium;
}

.main {
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
  z-index: 1;
}

.content,
.content-w,
.content-y,
.content-c {
  background-color: #ebe9e9;
  border-radius: 20px;
  color: #474747;
  margin-bottom: 30px;
  margin-top: -50px;
  padding: 50px 80px 80px;
  width: 30%;
  z-index: 2;
}

.content-w,
.content-c {
  margin-left: -50px;
}

.content-f {
  background-color: #777777;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #1c382d;
  height: 150px;
  margin-top: 50px;
  padding: 20px 80px;
  width: 70%;
  z-index: 2;
}

#home {
  background-color: #dadada;
}

#freeweights {
  background-color: #b4b4b4;
}

#yoga {
  background-color: #718576;
}

.padding-20 {
  padding: 20px;
}

#contact {
  background-color: #3e4e42;
}

#footer {
  background-color: #323f36;
  height: 220px;
}

.justify {
  text-align: justify;
}

.strong-header {
  font-size: 120px;
}

.content-contact {
  color: #424242;
}

.h2-content,
.h2-content-left {
  color: #424242;
  font-size: 50px;
}

.h2-content {
  text-align: right;
  text-indent: 60px;
}

.h2-content-left {
  margin: -50;
}

a {
  border: 1px solid rgb(117, 117, 117);
  border-radius: 1px;
  color: #ffffff;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

.services-container {
  height: 300px;
}

.parallax-right,
.parallax-left {
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: 150vw;
}

.flex,
.flex-right,
.flex-vert,
.flex-bottom,
.flex-around {
  display: flex;
}

.flex-right {
  justify-content: right;
}

.flex-vert,
.flex-bottom {
  flex-direction: column;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-around {
  justify-content: space-around;
}

.img-left,
.img-right,
.img-yoga,
.img-sched {
  border-radius: 20px;
  z-index: 3;
}

.img-left {
  margin-left: -50px;
}

.img-right {
  margin-top: 20px;
}

.img-yoga {
  margin-left: -50%;
}

.shadow {
  box-shadow: 0 0 30px #464646;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

em {
  font-weight: 600;
}

#button-2 {
  margin: 10px;
  background: rgba(114, 114, 114, 0.3);
  overflow: hidden;
  position: relative;
}

#button-2 a {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  background: rgba(114, 114, 114, 0.3);
  bottom: 0;
  height: 100%;
  left: -200px;
  position: absolute;
  transition: all 0.35s ease-Out;
  width: 100%;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .content,
  .content-w,
  .content-y,
  .content-c {
    width: 70%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .content,
  .content-w,
  .content-y,
  .content-c {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .content,
  .content-w,
  .content-y,
  .content-c {
    width: 30%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .content,
  .content-w,
  .content-y,
  .content-c {
    width: 25%;
  }
}