/* General styles */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header {
  height: 200px;
  color: #ffffff;
  text-transform: uppercase;
  background: url("../images/header-pexels-victor-freitas-949126.jpg") no-repeat center/cover;
}

#logo {
  font-size: 200%;
  text-align: center;
  margin-top: 30px;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  font-size: medium;
}

nav a {
  border: 1px solid rgb(117, 117, 117);
  color: #ffffff;
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
}

/* MAIN CONTENT */
main {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.home {
  margin: 20px;
  justify-content: center;
}

.color-h {
  background-color: rgb(213, 213, 213);
  z-index: 5; 
  width: 100vw;
}

.color-f {
  background-color: rgb(78, 78, 70);
  z-index: 5;
  width: 100vw;
}

.color-y {
  background-color: rgb(154, 156, 140);
  z-index: 5;
  width: 100vw;
}

.color-m {
  background-color: rgb(146, 137, 119);
  z-index: 5;
  width: 100vw;
}

.padding-3 {
  padding: 4px;
}

.padding-5 {
  padding: 5px;
}

/* MAIN CONTENT BLOBS */
.welcome {
  background-color: #efefef;
  border-radius: 20px;
  width: 80vw;
  margin-top: -40px;
  margin-bottom: -30px;
  margin-left: 6%;
}

.freew {
  background-color: #d2d2d2;
  border-radius: 20px;
  width: 80vw;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: 6%;  
}

.freey {
  background-color: #efefef;
  border-radius: 20px;
  width: 80vw;
  margin-top: -40px;
  margin-bottom: -30px;
  margin-left: 6%;
}

.freem {
  background-color: #ececec;
  border-radius: 20px;
  width: 80vw;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: 6%;
}


/* IMG AND SIDE BLOBS */
.image {
  width: 50vw;
  border-radius: 20px;
  margin-left: 21%;
  margin-bottom: -50px;
  
}

.img-right {
  margin-top: -40px; 
}

.image-inside {
  width: 90%;
  border-radius: 20px;
  margin: 10px;
}

.image-inside-y {
  width: 80%;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.black-pop {
  background-color: #2b2b2b;
  color: #cacaca;
  margin: 10px;
  margin-left: 20px;
  padding: 30px;
  border-radius: 20px;
}

.background-image {
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.text {
  text-align: center;
}

.black-inside {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
  height: 300px;
  width: 90%;
}

.text-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cacaca;
  background-color: rgba(0, 0, 0, 0.6);
}

#yoga-class {
  background: url(../images/yoga-class-pexels-cliff-booth-4056723.jpg) no-repeat center/cover;
  display: flex;
  flex-wrap: wrap;
}

#yoga-class div {
  color: #efefef;
  background-color: rgba(126, 128, 114, 0.6);
  text-align: center;
  flex-basis: 150px;
  flex-grow: 1;
  border: 10px solid #efefef;
}

.welcome-inside {
  padding: 30px;
}

.black-pop-side {
  background-color: #2b2b2b;
  color: #cacaca;
  margin: 20px;
  margin-bottom: -30px;
  padding: 30px;
  border-radius: 20px;
}

.shadow {
  box-shadow: 0 0 30px #2a2a2a;
}

/* TEXT PROPS*/ 
.h2-right,
.h2-left {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

h1 {
  margin: -10px;
}

em {
  font-weight: 600;
  color: rgb(183, 77, 77);
}

a {
  text-decoration: none;
  color: rgb(183, 77, 77);
}

.strong {
  font-size: 40px;
}

.hidden {
  display: none;
}

/* FORM */
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgba(185, 185, 185, 0.3);
  color: white;
  border: 1px solid rgb(117, 117, 117);
  padding: 12px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(112, 112, 112, 0.3);
}

.column {
  float: left;
  width: 80%;
  margin-top: 6px;
  padding: 20px;
}

/* FLEX PROPS */ 
.flex-column  {
  display: flex;
  flex-direction: column; 
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.hide {
  display: none;
}

/* HR LINES */
hr {
  border-top: 2px solid #2a2a2a;
  margin-bottom: 30px;
}

hr.red-solid {
  border-top: 2px solid rgb(183, 77, 77);
  margin-bottom: 30px;
}

/* PARALLAX */
.parallax-1,
.parallax-2,
.parallax-3 {

  /* SET HEIGHT */
  min-height: 200px; 

  margin-left: -50px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  /* MACHINE - FREE IMAGE */
  background-image: url("../images/free-para-pexels-leon-ardho-1552242.jpg"); 
}

.parallax-2 {
  /* YOGA IMAGE */
  background-image: url("../images/yoga-para-pexels-elina-fairytale-3822864.jpg");  
}

.parallax-3 {
  /* MEMBER IMAGE */
  background-image: url("../images/members-para-pexels-andrea-piacquadio-3757941.jpg");  
}

/* FOOTER */
footer {
  background-color: #3a3a3a;
  color: #ececec;
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 30px;
}

/* BUTTONS */

#button-1,
#button-2,
#button-3,
#button-4,
#button-t {
  margin: 10px;
  background: rgba(185, 185, 185, 0.3);
  overflow: hidden;
  position: relative;
}

#button-1 a,
#button-2 a,
#button-3 a,
#button-4 a,
#button-t a {
  position: relative;
  transition: all 0.35s ease-Out;
}

.slide {
  background: rgba(213, 213, 213, .3);
  bottom: 0;
  height: 100%;
  left: -200px;
  position: absolute;
  transition: all 0.35s ease-Out;
  width: 100%;
}


#button-1:hover .slide,
#button-2:hover .slide,
#button-3:hover .slide,
#button-4:hover .slide,
#button-t:hover .slide {
  left: 0;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  header {
    height: 250px;
    padding-top: 150px;
    margin-bottom: -50px;
  }

  nav {
    display: flex;
    justify-content: center;
    font-size: large;
  }

  #logo {
      font-size: 300%;
      margin-top: -30px;
      margin-bottom: -5px;
  }

  .text {
    text-align: center;
    padding: 80px;
  }
  
  .text-inside {
    font-size: 1em;
  }

  .black-inside {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    height: 200px;
    width: 95%;
  }

  .trainer-img {
    position: absolute;
    top: -9600px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
  }

}

/* Media query: tablets and larger (1040px and up) */
@media screen and (min-width: 1040px) {
  /* Header */
  header {
    height: 500px;
  }

  #logo {
    font-size: 500%;
    margin-top: 20px;
    margin-right: 15%;
    letter-spacing: 2px;
    line-height: 1;
    text-align: end;
}

  nav {
    display: flex;
    justify-content: end;
    font-size: large;
    padding-right: 15%;
  }

  nav a {
    border: 1px solid rgb(117, 117, 117);
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
  }


  h4-header {
    font-size: 60px;
  }

  /* Main content */
  .image {
    width: 300px;
    border-radius: 20px;
  }
  

  #home {
    display: flex;
  }

  #welcome {
    display: flex;
  }

  #yoga {
      display: flex;
  } 

  #free {
    display: flex;
  } 

  #membermark {
    display: flex;
  } 

  .hide {
    display: block;
  }

  .welcome {
    width: 50vw;
    margin-top: -150px;
    padding: 50px;
    margin-left: .4%;
  }

  .freew {
    width: 50vw;
    margin-top: -150px;
    margin-left: -30px;
    padding: 50px;
    margin-bottom: -30px;
  }

  .freem {
    width: 50vw;
    margin-top: -150px;
    margin-left: -40px;
    padding: 50px;
    margin-bottom: -30px;
    z-index: -1;
  }

  .freey {
    width: 50vw;
    margin-top: -150px;
    margin-left: -40px;
    padding: 50px;
    margin-bottom: -30px;
    z-index: -1;
  }

  .black-pop-side {
    width: 235px;
    margin-top: 30px;
    margin-left: -30px;
  }

  .black-pop {
    width: 240px;
    padding: 30px;
  }

  .black-pop-left {
    background-color: #2b2b2b;
    color: #cacaca; 
    width: 250px; 
    height: 300px;
    margin-top: 500px;
    margin-left: 3%;
    padding: 30px;
    border-radius: 20px;
  }

  .side-image {
    margin-top: 10px;
    z-index: 6;
  }

  .image {
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .img-left {
   margin-left: -30px;
  } 

  .h2-right {
    text-align: right;
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: -5px;
  }

  .h2-left {
    text-align: left;
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: -5px;
  }

  .flex-end {
    align-items: end;
  }

  .black-inside {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    height: 300px;
    width: 100%;
  }

  .trainer-img {
    position: absolute;
    top: -9600px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
  }

  .text-inside {
    font-size: large;
    position: absolute;
  }

  .parallax-1,
  .parallax-2,
  .parallax-3 {
    width: 100vw;
    min-height: 500px; 
    margin-left: 0px;
  }
 
}

/* Media query: tablets and larger (2000px and up) */
@media screen and (min-width: 2000px) {
  #logo {
    font-size: 500%;
    margin-right: 22%;
    margin-top: 30px;
    letter-spacing: 2px;
    line-height: 1;
    text-align: end;
  }

  nav {
    display: flex;
    justify-content: end;
    font-size: large;
    padding-right: 22%;
  }
  
  .welcome {
    width: 40vw;
  
  }

  .freew {
    width: 40vw;
   
  }

  .freem {
    width: 40vw;
  
  }

  .freey {
    width: 40vw;
  }
  .trainer-img {
    position: absolute;
    top: -9500px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
  }

}