/* General styles */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  
  
}

header {
  height: 200px;
  color: #ffffff;
  text-transform: uppercase;
  background: #ffffff url("../images/header-pexels-victor-freitas-949126.jpg") no-repeat center/cover;
  
  
  
}

#logo {
  font-size: 150%;
  text-align: center;
  margin-top: 50px;
}

nav {
  display: flex;
  justify-content: center;
  font-size: small;
  
}

/* Main content */
main {
      /* Enable flex properties for child elements */
      display: flex;
      z-index: 1;
      

}

.color-h {
  background-color: rgb(213, 213, 213);
  z-index: 5; 
  width: 100vw;
  
}

.color-f {
  background-color: rgb(69, 69, 49);
  z-index: 5;
  width: 100vw;
}

.color-y {
  background-color: rgb(154, 156, 140);
  z-index: 5;
  width: 100vw;
}

.color-m {
  background-color: rgb(146, 137, 119);
  z-index: 5;
  width: 100vw;
}



.home {
  margin: 20px;
  justify-content: center;
}

h1 {
  margin: -10px;
}

.padding-5 {
  padding: 5px;
}

.image {
  width: 50vw;
  border-radius: 20px;
  margin-left: 21%;
  margin-bottom: -50px;
  
}

.welcome {
  background-color: #efefef;
  border-radius: 20px;
  width: 80vw;
  margin-top: -40px;
  margin-bottom: -30px;
  margin-left: 6%;
 }

 .freew {
  background-color: #d2d2d2;
  border-radius: 20px;
  width: 80vw;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: 6%;  
}

.freem {
  background-color: #d2d2d2;
  border-radius: 20px;
  width: 80vw;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: 6%;  
}


.welcome-inside {
  padding: 30px;
 }

.black-pop {
  background-color: #2b2b2b;
  color: #cacaca;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
}

.black-pop-side {
  background-color: #2b2b2b;
  color: #cacaca;
  margin: 20px;
  margin-bottom: -30px;
  padding: 30px;
  border-radius: 20px;
  width: 76vw;
}



 .img-right {
  margin-top: -40px;
 
 }

nav a {
  border: 1px solid rgb(117, 117, 117);
  color: #ffffff;
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
}

.shadow {
  box-shadow: 0 0 30px #464646;
}

/* FLEX PROPS */ 

.flex-column  {
  display: flex;
  flex-direction: column;
  
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.justify {
  text-align: justify;
}

.hide {
  display: none;
}

em {
  font-weight: 600;
  color: rgb(183, 77, 77);
}

a {
  text-decoration: none;
  color: rgb(200, 54, 54);
}

.strong {
  font-size: 40px;
}

/* HR LINES */

/* Dashed gray border */
hr.dash {
  border-top: 1px dashed rgb(107, 107, 107);
}

hr.strong-gray {
  border-top: 2px dashed rgb(107, 107, 107);
  margin-bottom: 30px;
}

hr.strong-red {
  border-top: 2px dashed rgb(183, 77, 77);
  margin-bottom: 30px;
}

hr.red-solid {
  border-top: 2px solid rgb(183, 77, 77);
  margin-bottom: 30px;
}



/* Paralax */
.parallax-1,
.parallax-2,
.parallax-3 {
  /* Set a specific height */
  min-height: 200px; 

  margin-left: -50px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax-1 {
  /* The image used */
  background-image: url("../images/free-para-pexels-leon-ardho-1552242.jpg"); 
}

.parallax-2 {
  /* The image used */
  background-image: url("../images/yoga-para-pexels-elina-fairytale-3822864.jpg");  
}

.parallax-3 {
  /* The image used */
  background-image: url("../images/members-para-pexels-andrea-piacquadio-3757941.jpg");  
}

/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* BUTTONS */

#button-1,
#button-2,
#button-3,
#button-4,
#button-t {
  margin: 10px;
  background: rgba(185, 185, 185, 0.3);
  overflow: hidden;
  position: relative;
}

#button-1 a,
#button-2 a,
#button-3 a,
#button-4 a,
#button-t a {
  position: relative;
  transition: all 0.35s ease-Out;
}

.slide {
  background: rgba(212, 212, 212, 0.3);
  bottom: 0;
  height: 100%;
  left: -200px;
  position: absolute;
  transition: all 0.35s ease-Out;
  width: 100%;
}


#button-1:hover .slide,
#button-2:hover .slide,
#button-3:hover .slide,
#button-4:hover .slide,
#button-t:hover .slide {
  left: 0;
}



/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

  header {
    height: 250px;
    
  }
  

  #logo {

    font-size: 180%;
    text-align: right;
    padding-right: 100px;
  }

  nav {
    display: flex;
    justify-content: end;
    padding-right: 70px;
  }

}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  header {
    height: 500px;
    padding-top: 150px;
    margin-bottom: -50px;
  }

  nav {
    display: flex;
    justify-content: end;
    font-size: large;
    padding-right: 70px;
  }


  #logo {
      font-size: 500%;
      margin-top: 100px;
      margin-bottom: -5px;
  }

  /* Main content */
  .image {
    width: 300px;
    border-radius: 20px;
   
  }
  
  #home {
    display: flex;
  }

  #yoga {
      display: flex;
  } 

  #free {
    display: flex;
  } 

  #contact {
  display: flex;
  } 


  
  .hide {
    display: block;
  }

  .welcome {
    width: 40vw;
    margin-top: -50px;
    padding: 50px;
    margin-left: .4%;
  
  }

  .freew {
    width: 40vw;
    margin-top: -50px;
    margin-left: -30px;
    padding: 50px;
    margin-bottom: -30;
  }

  .freem {
    width: 40vw;
    margin-top: -50px;
    margin-left: -40px;
    padding: 50px;
    margin-bottom: -30;
    z-index: -1;
  }

  .black-pop-side {
    width: 235px;
    margin-top: 30px;
    margin-left: -30px;
  }

  .black-pop {
    width: 240px;
    margin: 20px;
    padding: 30px;
  }

  .black-pop-left {
    background-color: #2b2b2b;
    color: #cacaca; 
    width: 250px; 
    height: 300px;
    margin-top: 500px;
    margin-left: 3%;
    padding: 30px;
    border-radius: 20px;
  }
  
  #welcome-inside {
    padding: 80px;
  }

  .side-image {
    margin-top: 10px;
    z-index: 6;
    
  }

  .image {
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .img-left {
   margin-left: -30px;
  } 


  .h1-right {
    text-align: right;
    font-size: 3em;
    margin-bottom: 50px;
  }

  .h1-left {
    text-align: left;
    font-size: 3em;
    margin-bottom: 50px;
  }


  .flex-end {
    align-items: end;
  }

  nav a {
    border: 1px solid rgb(117, 117, 117);
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
  }

  h4-header {
    font-size: 50px;
  }

  .parallax-1,
  .parallax-2,
  .parallax-3 {
    /* The image used */
      width: 100vw;

    /* Set a specific height */
    min-height: 400px; 
  
    margin-left: 0px;
  
  }
 
}