body {
  margin: 0;
  color: #3a3a3a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-x: hidden;
}

header {
  height: 200px;
  color: #ffffff;
  text-transform: uppercase;
  background: url("../images/header-pexels-victor-freitas-949126.webp") no-repeat center/cover;
}

#logo {
  font-size: 200%;
  text-align: center;
  margin-top: 0px;
  padding-top: 30px;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  font-size: medium;
}

nav a {
  border: 1px solid rgb(117, 117, 117);
  color: #ffffff;
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
}

/* MAIN CONTENT */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  margin: 20px;
  justify-content: center;
}

/* SEGMENT BG COLOURS */
.bg-color-home {
  background-color: rgb(213, 213, 213);
  z-index: 5;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.bg-color-equip {
  background-color: rgb(78, 78, 70);
  z-index: 5;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.bg-color-yoga {
  background-color: rgb(154, 156, 140);
  z-index: 5;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.bg-color-member {
  background-color: rgb(146, 137, 119);
  z-index: 5;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* MAIN CONTENT BLOBS */
.welcome-rounded {
  background-color: #efefef;
  border-radius: 20px;
  width: 80vw;
  margin-top: -40px;
  margin-bottom: -30px;
 
}

.equipment-rounded {
  background-color: #d2d2d2;
  border-radius: 20px;
  width: 80vw;
  margin-top: -20px;
  margin-bottom: -30px;
}

.yoga-rounded {
  background-color: #efefef;
  border-radius: 20px;
  width: 80vw;
  margin-top: -40px;
  margin-bottom: -30px;
}

.member-rounded {
  background-color: #ececec;
  border-radius: 20px;
  width: 80vw;
  margin-top: -20px;
  margin-bottom: -30px;
}

.content-padding {
  padding: 30px;
}

/* IMG BLOBS */
.image {
  width: 50vw;
  object-fit: cover; 
  object-position: -20% 0;
  border-radius: 20px;
  margin-left: 20%;
  margin-bottom: -20%;
  z-index: -10;
  position: relative;
}

.img-right {
  margin-top: -40px;
}

.image-inside-h {
  width: 90%;
  border-radius: 20px;
  margin: 10px;
}

.side-image-member {
  margin-top: -40px;
}

.image-inside-y {
  width: 80%;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.background-image {
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* DARK BLOBS */
.black-blob {
  background-color: #2b2b2b;
  color: #cacaca;
  padding: 30px;
  border-radius: 20px;
}

.black-blob-side {
  background-color: #2b2b2b;
  color: #cacaca;
  margin-bottom: -30px;
  padding: 30px;
  border-radius: 20px;
}

/* EQUIPMENT TEXT-IMG-BLOB */
.black-inside-equip {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
  height: 300px;
  width: 90%;
}

.text-blob-equip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cacaca;
  background-color: rgba(0, 0, 0, 0.6);
}

.text {
  text-align: center;
  padding: 10px;
}

.shadow {
  box-shadow: 0 0 20px rgba(42, 42, 42, 0.23);
}

/*YOGA CLASS*/
#yoga-class {
  background: url(../images/yoga-class-pexels-cliff-booth-4056723.webp) no-repeat center/cover;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#yoga-class div {
  color: #efefef;
  background-color: rgba(126, 128, 114, 0.6);
  text-align: center;
  flex-basis: 150px;
  flex-grow: 1;
  border: 10px solid #efefef;
}

/* TEXT PROPS*/
h1 {
  margin: -10px;
}

.h2-right,
.h2-left {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1em;
}

em {
  font-weight: 600;
  color: rgb(144, 43, 43);
}

.yoga-em {
  font-weight: 600;
  font-size: 1.1em;
  color: rgb(51, 51, 51);
}

.trainer-em {
  font-weight: 600;
  color: rgb(166, 102, 102);
}

a {
  text-decoration: none;
  color: rgb(144, 43, 43);
}

.hidden {
  display: none;
}

/* FORM */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #9e9e9e;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgba(185, 185, 185, 0.3);
  color: rgb(144, 43, 43);
  border: 1px solid rgb(117, 117, 117);
  padding: 12px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(112, 112, 112, 0.3);
}

.column {
  width: 80%;
  margin-top: 6px;
  padding: 20px;
}

/* FLEX PROPERTIES */
.flex-member {
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-end {
  align-items: end;
}

.hide {
  display: none;
}

/* HR LINES */
hr {
  border-top: 2px solid #2a2a2a;
  margin-bottom: 30px;
}

hr.red-solid {
  border-top: 2px solid rgb(144, 43, 43);
  margin-bottom: 30px;
}

/* PARALLAX */
.parallax-1,
.parallax-2,
.parallax-3 {
  /* SET HEIGHT */
  min-height: 200px;

  margin-left: -50px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  /* MACHINE - FREE IMAGE */
  background-image: url("../images/free-para-pexels-leon-ardho-1552242.webp");
}

.parallax-2 {
  /* YOGA IMAGE */
  background-image: url("../images/yoga-para-pexels-elina-fairytale-3822864.webp");
}

.parallax-3 {
  /* MEMBER IMAGE */
  background-image: url("../images/members-para-pexels-andrea-piacquadio-3757941.webp");
}

/* FOOTER */
footer {
  background-color: #3a3a3a;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 30px;
}

/* NAV BUTTONS */
#button-1,
#button-2,
#button-3,
#button-4,
#button-t {
  margin: 10px;
  background: rgba(185, 185, 185, 0.3);
  overflow: hidden;
  position: relative;
}

#button-1 a,
#button-2 a,
#button-3 a,
#button-4 a,
#button-t a {
  position: relative;
  transition: all 0.35s ease-Out;
}

.slide {
  background: rgba(213, 213, 213, 0.3);
  bottom: 0;
  height: 100%;
  left: -200px;
  position: absolute;
  transition: all 0.35s ease-Out;
  width: 100%;
}

#button-1:hover .slide,
#button-2:hover .slide,
#button-3:hover .slide,
#button-4:hover .slide,
#button-t:hover .slide {
  left: 0;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 99;
  border: none;
  background-color: rgba(0, 0, 0, 0.245);
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 15px;
  font-size: 16px;

}

#topButton:hover {
  background-color: #2a2a2a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  /* HEADER */
  header {
    height: 250px;
    padding-top: 150px;
    margin-bottom: -30px;
  }

  nav {
    display: flex;
    justify-content: center;
    font-size: large;
  }

  #logo {
    font-size: 300%;
    margin-top: -30px;
    margin-bottom: -5px;
  }

  h3 {
    font-size: 1.3em;
  }

  /* EQUIPMENT TEXT-IMG-BLOB */
  .text {
    text-align: center;
    padding: 80px;
  }

  .text-blob-equip {
    font-size: 1em;
  }

  .black-inside-equip {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    height: 200px;
    width: 95%;
  }

  /* IMG BLOBS */
  .trainer-img {
    position: absolute;
    top: -9600px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
  }
}

/* Media query: tablets and larger (1040px and up) */
@media screen and (min-width: 1040px) {

  /* HEADER */
  header {
    height: 500px;
  }

  #logo {
    font-size: 500%;
    margin-top: 20px;
    margin-right: 14%;
    letter-spacing: 5px;
    line-height: 1;
    text-align: end;
  }

  nav {
    display: flex;
    justify-content: end;
    font-size: large;
    padding-right: 13%;
  }

  nav a {
    border: 1px solid rgb(117, 117, 117);
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
  }

  h4-header {
    font-size: 60px;
  }

  /* MAIN CONTENT */
  #welcome {
    display: flex;
  }

  #yoga {
    display: flex;
  }

  #equipment-sides {
    display: flex;
  }

  #membermark {
    display: flex;
  }

  /* MAIN CONTENT BLOBS */
  .welcome-rounded {
    width: 50vw;
    margin-top: -150px;
    margin-left: 6%;
    padding: 50px;
    margin-bottom: -30px;
    z-index: -1;
  }

  .equipment-rounded {
    width: 50vw;
    margin-top: -150px;
    margin-left: -37px;
    padding: 50px;
    margin-bottom: -30px;
    z-index: -1;
  }

  .yoga-rounded {
    width: 50vw;
    margin-top: -150px;
    margin-left: 6%;
    padding: 50px;
    margin-bottom: -30px;
    z-index: -1;
  }

  .member-rounded {
    width: 50vw;
    margin-top: -150px;
    margin-left: -60px;
    padding: 50px;
    margin-bottom: -30px;
  }

  /* TEXT */
  .h2-right {
    text-align: right;
    font-size: 4em;
    margin-bottom: 50px;
    margin-top: -5px;
  }

  .h2-left {
    text-align: left;
    font-size: 4em;
    margin-bottom: 50px;
    margin-top: -5px;
  }

  h3 {
    font-size: 1em;
  }

   /* IMG BLOBS */
  .side-image {
    margin-top: 10px;
    z-index: 6;
  }

  .side-image-member {
    margin-top: 10px;
  }

  .trainer-img {
    position: absolute;
    top: -9600px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
  }

  .image {
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
  }

  /* DARK BLOBS */
  .black-blob-side {
    width: 240px;
    margin-top: 30px;
    margin-right: 30px;
  margin-left: 20px;
  }

  .black-blob {
    width: 240px;
    padding: 30px;
    z-index: 1;
    margin-right: 30px;
  margin-left: 20px;
    position: relative;
  }

  .black-blob-left {
    background-color: #2b2b2b;
    color: #cacaca;
    width: 250px;
    height: 300px;
    margin-top: 500px;
    padding: 30px;
    border-radius: 20px;
  }

  /* EQUIPMENT TEXT-IMAGE BLOB*/
  .black-inside-equip {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    height: 300px;
    width: 100%;
  }

  .text-blob-equip {
    font-size: large;
    position: absolute;
  }

  .image {
    width: 300px;
    border-radius: 20px;
    z-index: 1;
    position: relative;
  }

  /*YOGA CLASS*/
  #yoga-class {
    margin-bottom: -0px;
  }

  .column {
    margin-bottom: -40px;
  }

  .hide {
    display: block;
  }

  /* PARALLAX */
  .parallax-1,
  .parallax-2,
  .parallax-3 {
    width: 100vw;
    min-height: 500px;
    margin-left: 0px;
  }
}

/* Media query: laptops and desktops (2000px and up) */
@media screen and (min-width: 2000px) {

  /* HEADER */

  #logo {
    font-size: 500%;
    margin-right: 22%;
    margin-top: 30px;
    letter-spacing: 2px;
    line-height: 1;
    text-align: end;
  }

  nav {
    display: flex;
    justify-content: end;
    font-size: large;
    padding-right: 22%;
  }

  /* MAIN CONTENT BLOBS */
  .welcome-rounded {
    width: 42vw;
  }

  .equipment-rounded {
    width: 42vw;
  }

  .yoga-rounded {
    width: 40vw;
  }

  .member-rounded {
    width: 40vw;
  }

  .trainer-img {
    position: absolute;
    top: -9500px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
  }
}